<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>MotoSprint - Login</title>
    <link rel="stylesheet" href="/styles/login.css" />
    <link rel="icon" type="image/ico" href="/img/motosprint.ico" />
  </head>
  <body>

    {{{body}}}

  </body>
</html>