<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>MotoSprint - Login</title>
    <link rel="stylesheet" href="/styles/login.css" />
    <link rel="icon" type="image/ico" href="/img/motosprint.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    {{{body}}}

  </body>
</html>