<html>
  <head>
    <title>Control de Stock</title>
    <link rel="stylesheet" href="/styles/styles.css" />
    <link rel="stylesheet" href="/styles/products.css" />
    <link rel="stylesheet" href="/styles/new_editProducts.css" />
    <link rel="stylesheet" href="/styles/presupuestos.css" />
    <link rel="stylesheet" href="/styles/newPresupuesto.css" />
    <link rel="stylesheet" href="/styles/verPresupuestos.css" />
  </head>
  <body>
    <div class="layout">
      <nav class="navbar">

        <a href="/productos" class="navBarLink">Productos</a>

        <a href="/productos/nuevo" class="navBarLink">
          Agregar producto
        </a>

        <a href="/importar" class="navBarLink">Cargar Productos</a>

        <a href="/presupuestos" class="navBarLink">Presupuestos</a>

        <a href="/logout" class="navBarLink">Cerrar sesión</a>

      </nav>
      <main>
        {{{body}}}
      </main>
    </div>
  </body>
</html>