<div class="containerImport">
  <h2>Importar Productos</h2>
  <p>Sube una foto de tu lista de precios o un remito de proveedor.</p>

  <form
    action="/importar/procesar"
    method="POST"
    enctype="multipart/form-data"
    class="form-import"
  >
    <div>
      <label>Selecciona la imagen o PDF:</label>
      <input
        type="file"
        name="listaImagen"
        accept="image/*,application/pdf"
        required
      />
    </div>

    <button type="submit" class="btnFormu">
      Procesar
    </button>
  </form>
</div>