/* Productos */

.containerProducts {
  background-color: #f5f5f5;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  min-height: 100vh;
}

.containerSearchBar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: auto;
  margin-bottom: auto;
}

.searchForm {
  display: flex;
  width: 20%;
  gap: 10px;
}

.searchInput {
  width: 100%;
  height: 30px;
  border-radius: 6px;
}

.searchButton {
  width: fit-content;
  padding: 5px 15px;
  background-color: #1f1f1f;
  color: #f5f5f5;
  border-radius: 6px;
  transition: 0.3s;
  cursor: pointer;
}

.searchButton:hover {
  background-color: #2a2a2a;
}

.addProduct {
  width: fit-content;
  padding: 5px 15px;
  background-color: #1f1f1f;
  color: #f5f5f5;
  border-radius: 6px;
  text-decoration: none;
  transition: 0.3s;
}

.addProduct:hover {
  background-color: #2a2a2a;
}

.containerTableProduct {
  width: 90%;
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  margin-left: auto;
  margin-right: auto;
}

.productTableProduct {
  width: 90%;
  border-collapse: collapse;
  background: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

.productTableProduct thead th {
  position: sticky;
  top: 0;
  z-index: 10;
  background: #111111;
  color: white;
  padding: 12px;
  text-align: left;
}

.productTableProduct td {
  padding: 10px;
  border-bottom: 1px solid #e5e5e5;
}

.rowProduct:hover {
  background: #f5f5f5;
}

.actions a {
  margin-right: 10px;
  text-decoration: none;
}

.btnEditProduct {
  background: #1f1f1f;
  color: white;
  padding: 6px 10px;
  border-radius: 6px;
  transition: 0.3s;
  cursor: pointer;
}

.btnEditProduct:hover {
  background-color: rgb(177, 177, 12);
}

.btnDeleteProduct {
  background: #666666;
  color: white;
  padding: 6px 10px;
  border-radius: 6px;
  transition: 0.3s;
  cursor: pointer;
}

.btnDeleteProduct:hover {
  background-color: red;
}
